# Rust build artifacts
/target
/dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Added by cargo
#
# already existing elements were commented out

#/target
